header {
  display: flex;
  justify-content: space-between; 
  background-color: var(--background-color-primary);
  align-items: center;
  padding: 0; 
  margin: 0; 
  width: 100%; 
}

.links {
  display: flex;
  gap: 50px;
  margin: 0; 
  padding: 0; 
}

header .links a {
  color: #4620ee;
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0; 
}

a {
  text-decoration: none;
}

.links > li > a {
  font-weight: 700;
}

.menu-button {
  display: none;
  margin: 0; 
  padding: 0; 
}

.logo {
  width: 100px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; 
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #555;
}

@media only screen and (max-width: 750px) {
  header {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .menu-button {
    display:block;
    font-size: 25px;
    height: 50px;
    padding: 10px 0; 
    cursor: pointer;
    margin: 0;
    background: none;
    border: none;
    color: #4620ee;
  }

  .links {
    display: none;
    flex-direction: column;
    gap: 0; 
    list-style-type: none;
    padding-left: 0;
    margin: 0; 
  }

  .links li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }

  .links.active {
    display: flex;
  }
}
