header {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color-primary);
  align-items: center;
}

.links {
  display: flex;
  gap: 50px;
}

header .links a {
  color: #4620ee;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.links > li > a {
  font-weight: 700;
}

.menu-button {
  display: none;
}

.logo {
  width: 100px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Oculto por defecto */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #555;
}

@media only screen and (max-width: 750px) {
  header {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  button {
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  .menu-button {
    display: block;
    height: 50px;
    margin-bottom: 10px;
  }

  .links {
    display: none;
    list-style-type: none;
    padding-left: 0;
  }

  .links li {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .menu-button:focus + .links {
    display: block;
  }

  .links {
    flex-direction: column;
    gap: 3px;
  }
}
